$white: hsl(0, 0%, 100%);
$dark-grayish-violet: hsl(270, 7%, 64%);
$pale-violet: hsl(276, 100%, 81%);
$moderate-violet: hsl(276, 55%, 52%);
$desaturated-dark-violet: hsl(271, 15%, 43%);
$grayish-blue: hsl(206, 6%, 79%);
$very-dark-desaturated-violet: hsl(271, 36%, 24%);
$light-grayish-violet: hsl(270, 20%, 96%);
$very-light-magenta: hsl(289, 100%, 72%);

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  background-color: $light-grayish-violet;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
.content-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  .background-violet {
    background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    width: 40%;
    height: 85%;
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
    position: fixed;
    top: 0;
    right: 68.5%;
    overflow: hidden;
    z-index: 1;
    order: 1;
  }
  .content-box__phone {
    background-color: $white;
    border-radius: 3em;
    min-width: 300px;
    width: 35%;
    max-width: 330px;
    min-height: 620px;
    height: 100%;
    max-height: 650px;
    order: 2;
    z-index: 2;
    margin: 10px 100px 10px 10px;
    padding: 15px;
    .phone__background {
      width: 100%;
      height: 100%;
      border-radius: 2em;
      background-color: $light-grayish-violet;

      .phone__heading {
        display: flex;
        flex-direction: column;
        background: linear-gradient(
          to right,
          hsl(264, 100%, 61%),
          hsl(293, 100%, 63%)
        );
        border-radius: 2em 2em 0.8em 0.8em;
        height: 12%;
        width: 100%;

        .phone__div__white {
          background-color: $white;
          margin-left: auto;
          margin-right: auto;
          border-radius: 0 0 1em 1em;
          min-height: 20px;
          height: 25%;
          width: 60%;
        }
        .phone__heading__information {
          width: 100%;
          height: 70%;
          display: flex;
          position: relative;
          .phone__heading__chevron {
            display: flex;
            align-items: center;
            padding: 0 1px 0 10px;
          }
          .phone__heading__chevron img {
            height: 20px;
          }
          .phone__heading__avatar {
            display: flex;
            align-items: center;
            height: 100%;
          }
          .phone__heading__avatar img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 2px solid $white;
          }
          .phone__heading__status {
            font-size: 0.75em;
            min-width: 127px;
            width: 100%;
          }
          .phone__heading__status span:nth-child(1) {
            position: absolute;
            top: 12px;
            padding-left: 10px;
            color: $white;
            font-size: 1em;
          }
          .phone__heading__status span:nth-child(2) {
            position: absolute;
            top: 28px;
            padding-left: 10px;
            color: $dark-grayish-violet;
            font-size: 0.7em;
          }
          .phone__heading__menu {
            display: flex;
            flex-flow: column;
            padding-right: 20px;
          }
          .phone__heading__menu__dot {
            display: block;
            width: 7px;
            height: 5px;
            color: $white;
            font-size: 20px;
          }
          .phone__heading__menu__dot:hover {
            cursor: pointer;
          }
        }
      }
      .phone__chat {
        min-width: 270px;
        width: 100%;
        height: 88%;
        padding: 10px;

        .phone__chat__host {
          height: 24%;

          .host__message__first {
            background-color: hsl(273, 58%, 93%);
            color: $moderate-violet;
            font-size: 0.7em;
            border-radius: 1em 1em 1em 0.4em;
            min-width: 170px;
            max-width: 200px;
            width: 60%;
            padding: 10px;
            margin: 5px 0 10px 0;
          }
          .host__message__second {
            background-color: hsl(273, 58%, 93%);
            color: $moderate-violet;
            font-size: 0.7em;
            border-radius: 1em 1em 1em 0.4em;
            font-size: 0.7em;
            min-width: 170px;
            max-width: 200px;
            width: 60%;
            padding: 10px;
          }
        }
        .phone__chat__guest {
          min-height: 150px;
          height: 30%;
          width: 100%;

          .align-items-right {
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            flex-wrap: wrap;
            justify-content: space-between;
          }
          .phone__chat__guest__images {
            display: flex;
            justify-content: space-between;
            width: 65%;
            .phone__chat__guest__images--image {
              width: 50px;
              border-radius: 1em;
            }
          }
          .guest__message__first {
            background-color: $white;
            color: $desaturated-dark-violet;
            font-size: 0.7em;
            min-width: 175px;
            max-width: 200px;
            width: 60%;
            padding: 10px;
            margin: 5px 0 10px 5px;
            border-radius: 1em 1em 0.4em 1em;
          }
          .guest__message__second {
            background-color: $white;
            color: $desaturated-dark-violet;
            border-radius: 0.9em;
            font-size: 0.7em;
            min-width: 110px;
            max-width: 180px;
            width: 40%;
            padding: 10px;
            border-radius: 1em 1em 0.4em 1em;
          }
        }
        .phone__chat__host__second {
          height: 33%;
          margin-top: 10px;
          .host__second__message {
            background-color: hsl(273, 58%, 93%);
            color: $moderate-violet;
            border-radius: 0.9em;
            font-size: 0.72em;
            min-width: 175px;
            max-width: 200px;
            width: 60%;
            padding: 10px;
          }
          .host__ofert__first {
            display: flex;
            align-items: center;
            background: linear-gradient(
              to right,
              hsl(293, 100%, 63%),
              hsl(264, 100%, 61%)
            );
            min-width: 205px;
            width: 75%;
            max-width: 208px;
            height: 40px;
            border-radius: 0.8em 0.8em 0.8em 0.4em;
            margin: 10px 0;
            .circle {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 3px solid $dark-grayish-violet;
              opacity: 0.4;
              margin-left: 10px;
            }
            .host__ofert__first__message {
              font-size: 0.6em;
              padding: 0 50px 0 10px;
              color: $light-grayish-violet;
              opacity: 0.9;
            }
            .host__ofert__first__price {
              color: $white;
              font-weight: 500;
            }
          }
          .host__ofert__second {
            display: flex;
            align-items: center;
            background: linear-gradient(
              to right,
              hsl(293, 100%, 63%),
              hsl(264, 100%, 61%)
            );
            min-width: 205px;
            width: 75%;
            max-width: 208px;
            height: 40px;
            border-radius: 0.8em 0.8em 0.8em 0.4em;

            .circle {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 3px solid $dark-grayish-violet;
              opacity: 0.4;
              margin-left: 10px;
            }
            .host__ofert__second__message {
              font-size: 0.6em;
              padding: 0 70px 0 10px;
              color: $light-grayish-violet;
              opacity: 0.9;
            }
            .host__ofert__second__price {
              color: $white;
              font-weight: 500;
            }
          }
        }
        .phone__chat__button {
          height: 10%;
          position: relative;
          margin-top: 0.5em;
          .phone__chat__button--primary {
            padding-left: 20px;
            border-radius: 2em;
            height: 45px;
            width: 100%;
            border: none;
            outline: $very-light-magenta;
          }
          .phone__chat__button--primary::placeholder {
            color: $grayish-blue;
            padding-left: 10px;
            font-size: 0.8em;
          }
          .phone__chat__button--chevron {
            background-color: $very-dark-desaturated-violet;
            border-radius: 2em;
            border: none;
            width: 35px;
            height: 35px;
            position: absolute;
            top: 5px;
            right: 10px;
          }
          .phone__chat__button--chevron:hover {
            cursor: pointer;
            opacity: 0.9;
          }
          .phone__chat__button--chevron img {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
}
.text-box {
  background-color: $light-grayish-violet;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .background-gray {
    background-color: #f1ecf5;
    border-radius: 1000px 1000px 0 0;
    width: 40%;
    height: 85%;
    position: fixed;
    bottom: 0;
    left: 75%;
    overflow: hidden;
    z-index: 1;
    order: 2;
  }
  #text-box__header {
    min-width: 300px;
    width: 60%;
    z-index: 2;
    order: 1;

    .header__heading {
      font-size: 3em;
      color: $very-dark-desaturated-violet;
      font-weight: 500;
    }

    .header__text {
      font-size: 1.25em;
      line-height: 1.7em;
      color: $dark-grayish-violet;
      padding-right: 10px;
    }
  }
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-box {
    justify-content: center;
    width: 100%;
    margin: 10px 10px;

    .background-violet {
      width: 500px;
      height: 700px;
      right: 50%;
    }

    .content-box__phone {
      border-radius: 2.5em;
      margin: 10px 10px;
      min-width: 290px;
      max-width: 300px;
      min-height: 600px;
      max-height: 630px;
      padding: 10px;

      .phone__background {
        width: 100%;
        height: 100%;

        .phone__heading {
          border-radius: 2em 2em 0.6em 0.6em;
        }
      }
    }
  }
  .text-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .background-gray {
      border-radius: 300px 300px 0 0;
      position: fixed;
      bottom: 0;
      left: 50%;
      height: 55%;
      width: 600px;
    }

    #text-box__header {
      width: 60%;
      min-height: 300px;
      height: 100%;
      .header__heading {
        text-align: center;
        font-size: 2.3em;
      }
      .header__text {
        font-size: 0.95em;
        line-height: 1.6em;
        text-align: center;
      }
    }
  }
}
